
@{
    ViewData["Title"] = "Index";
}

<div class="customer_login">
    <div class="container">
        <div class="row">
            <!--login area start-->
            <div class="col-lg-6 col-md-6">
                <div class="account_form">
                    <h2>login</h2>
                    <form action="#">
                        <p>
                            <label>Username <span>*</span></label>
                            <input type="text">
                        </p>
                        <p>
                            <label>Passwords <span>*</span></label>
                            <input type="password">
                        </p>
                        <div class="login_submit">
                            @*<a href="#">Lost your password?</a>*@
                            <label for="remember">
                                <input id="remember" type="checkbox">
                                Remember me
                            </label>
                            <button type="submit">login</button>

                        </div>

                    </form>
                </div>
            </div>
            <!--login area start-->
            <!--register area start-->
            
            <!--register area end-->
        </div>
    </div>
</div>

