@{
    ViewData["Title"] = "Home Page";
}

<center>
    <img src="~/images/backend/company-logo-Tran.png" />
    <p><h3>ระบบการจัดการข้อมูล Website www.huahui.com</h3></p>
    <br />
    จัดทำโดย บริษัท ไฮเปอร์ ซอฟต์ โซลูชั่น จำกัด
</center>

