
@{
    ViewData["Title"] = "Index";
}

<div class="about_section pt-30">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="about_thumb">
                    <img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/map.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="contact_message content">
                    <h3>ติดต่อเรา</h3>
                    <p><h4>บริษัท หัวฮุย อินเตอร์ จำกัด</h4></p>
                    <ul>
                        <li><i class="fa fa-map-marker"></i>เลขที่ 36/681 ถ.กาญจนาภิเษก ต.บางรักพัฒนา อ.บางบัวทอง จ.นนทบุรี 11110</li>
                        <li><i class="fa fa-phone"></i><a href="tel:029793208">0-2979-3208</a></li>
                        <li><i class="fa fa-phone"></i><a href="tel:0806136536">08-0613-6536</a></li>
                        @*<li><i class="fa fa-edit"></i> หากต้อการสั่งซื้อกรุณาติดต่อ: </li>*@
                        <li><i class="fa fa-facebook"></i><a href="https://www.facebook.com/HUA-HUI-INTER-COLTD-536433739714780/" target="_blank">HUA HUI INTER CO.LTD</a></li>
                        <li><i class="fab fa-line"></i>0806136536</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="contact_message form">
                    <h3>ส่งข้อความ</h3>
                    <form id="contact-form" method="POST" action="assets/mail.php">
                        <p>
                            <label>ชื่อ</label>
                            <input name="name" type="text">
                        </p>
                        <p>
                            <label>อีเมล</label>
                            <input name="email" type="email">
                        </p>
                        <p>
                            <label>เรื่อง</label>
                            <input name="subject" type="text">
                        </p>
                        <div class="contact_textarea">
                            <label>ข้อความ</label>
                            <textarea name="message" class="form-control2"></textarea>
                        </div>
                        <button type="submit">ส่งข้อความ</button>
                        <p class="form-messege"></p>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

