
@{
    ViewData["Title"] = "Index";
}

<div class="contact_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="contact_message content">
                    <h3>ติดต่อเรา</h3>
                    <p><h2>บริษัทหัวฮุย อินเตอร์ จำกัด</h2></p>
                       <ul>
                           <li><i class="fa fa-fax"></i>  ที่อยู่ : เลขที่ 36/681 ถนนกาณจนาภิเษก ตำบลบางรักพัฒนา อำเภอบางบัวทอง จังหวัดนนทบุรี 1110</li>
                           <li><i class="fa fa-envelope-o"></i> 080-613-6536</li>
                           <li><i class="fa fa-edit"></i> หากต้อการสั่งซื้อกรุณาติดต่อ: </li>

                           <li><i class="fa fa-facebook"></i> 
                               <a href="https://www.facebook.com/HUA-HUI-INTER-COLTD-536433739714780/" target="_blank">
                                   https://www.facebook.com/HUA-HUI-INTER
                               </a></li>
                           <li><i class="fab fa-line"></i>huahuiOficial</li>
                       </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="contact_message form">
                    <h3>Tell us your project</h3>
                    <form id="contact-form" method="POST" action="assets/mail.php">
                        <p>
                            <label> Your Name (required)</label>
                            <input name="name" placeholder="Name *" type="text">
                        </p>
                        <p>
                            <label>  Your Email (required)</label>
                            <input name="email" placeholder="Email *" type="email">
                        </p>
                        <p>
                            <label>  Subject</label>
                            <input name="subject" placeholder="Subject *" type="text">
                        </p>
                        <div class="contact_textarea">
                            <label>  Your Message</label>
                            <textarea placeholder="Message *" name="message" class="form-control2"></textarea>
                        </div>
                        <button type="submit"> Send</button>
                        <p class="form-messege"></p>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

