@model HuahuiSite.Web.Areas.Backend.Models.ProductGroupViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-8">
        <h4 class="card-title">Product Group Management</h4>
        <h6 class="card-subtitle m-b-20 text-muted">You can make product group like this</h6>
    </div>

    <div class="col-md-4 text-right">
        <button class="btn btn-info waves-effect waves-light" type="button" data-toggle="modal" data-target="#create-modal"><span class="btn-label"><i class="fa fa-plus"></i></span>Create Product Group</button>
    </div>

    <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="create-modal-label" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form id="form-create" asp-controller="ProductGroup" asp-action="Save" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSaveSuccess" enctype="multipart/form-data">
                    <div class="modal-header" style="background-color:#000;">
                        <h4 class="modal-title text-white" id="create-modal-label">Create Product Group</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="text-white">×</span></button>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="modal-body">
                                <div class="form-group row">
                                    <label asp-for="Code" class="col-sm-2 text-right control-label col-form-label">Code*</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" asp-for="Code" required="">
                                    </div>
                                    <label asp-for="Name" class="col-sm-2 text-right control-label col-form-label">Name*</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" asp-for="Name" required="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="UnitPrice" class="col-sm-2 text-right control-label col-form-label">Unit Price*</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" asp-for="UnitPrice" required="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="MinQuantity" class="col-sm-2 text-right control-label col-form-label">Min Quantity*</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" asp-for="MinQuantity" required="">
                                    </div>
                                    <label asp-for="MaxQuantity" class="col-sm-2 text-right control-label col-form-label">Max Quantity*</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" asp-for="MaxQuantity" required="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="ProductCategorieCode" class="control-label">Product Categorie</label>
                                    <select class="form-control" asp-for="ProductCategorieCode" asp-items="@Model.ProductCategorieSelectList">
                                        <option value="">--- Please Select Item ---</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Success</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" id="parent-table">
    <partial name="_Table" model="Model" />
</div>

@section Scripts {

    <script src="~/js/backend/product_group.js"></script>

}

