@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>บริษัท หัวฮุย อินเตอร์ จำกัด</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/auto1icon.ico">

    <environment include="Development">
        <!-- Plugins CSS -->
        <link href="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/css/plugins.css" rel="stylesheet" />

        <!-- Main Style CSS -->
        <link rel="stylesheet" href="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/css/style.css">
    </environment>

    <environment include="Staging, Production">
        <!-- Plugins CSS -->
        <link href="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/css/plugins.css" rel="stylesheet" />

        <!-- Main Style CSS -->
        <link rel="stylesheet" href="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/css/style.css">
    </environment>
</head>
<body>
    <!-- Main Wrapper Start -->
    <!--header area start-->
    <header class="header_area pb-sm-90">
        <!--header top start-->
        <div class="header_top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="welcome_text">
                            @*<p> HUAHUI INTER COMPANY</p>*@
                            @if (Context.Session.GetString("username") != null)
                            {
                                <span class="text-white strong">
                                    Welcome: @Context.Session.GetString("username")
                                   
                                </span>
                            }
                           
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="top_right text-right">
                            <ul>

                                @if (Context.Session.GetString("username") != null)
                                {
                               
                                <a asp-area="Frontend" asp-controller="Login" asp-action="Index"><i class="ion-log-out"></i> ออกจากระบบ </a>
                                }
                                else
                                {
                            <li><a asp-area="Frontend" asp-controller="Login" asp-action="Index"><i class="ion-log-in"></i> เข้าสู่ระบบ </a></li>
                        }


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header top start-->
        <!--header middel start-->
        <div class="header_middle">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-12">
                        <div class="logo" style="border-radius: 0 30px 30px 0;">
                            <a asp-action="" asp-controller="Home"><img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-12">
                        <div class="middel_right">
                            <div class="search-container">
                                <form action="#">
                                    <div class="hover_category">
                                        <select class="select_option" name="select" id="categori">
                                            <option selected value="1">ทุกหมวดหมู่</option>
                                            <option value="2">ดูแลรักษารถยนต์</option>
                                            <option value="3">โคมไฟ-หลอดไฟ-Xenon</option>
                                            <option value="4">อิเล็กทรอนิคส์-ของตกแต่งอื่นๆ</option>
                                            <option value="5">ตกแต่งทั่วไป</option>
                                            <option value="6">เพิ่มประสิทธิภาพ</option>
                                            <option value="7">ตกแต่งภายใน-ภายนอก</option>
                                        </select>
                                    </div>
                                    <div class="search_box">
                                        <input placeholder="ค้นหา" type="text">
                                        <button type="submit">ค้นหา</button>
                                    </div>
                                </form>
                            </div>

                            <div class="middel_right_info">
                                <div class="header_account">
                                    @*<a href="my-account.html"><i class="ion-android-people"></i></a>*@
                                </div>
                                <div class="header_wishlist">
                                    @*<a href="wishlist.html"><i class="fa fa-heart-o" aria-hidden="true"></i></a>*@
                                </div>
                                <div class="mini_cart_wrapper">
                                    <a href="#"><i class="ion-bag"></i>$138.00</a>
                                    <span class="cart_quantity">2</span>
                                    <!--mini cart-->
                                    <div class="mini_cart">
                                       
                                        <div class="mini_cart_footer">
                                            <div class="cart_button">
                                                <a asp-controller="cart" asp-action="index">View cart</a>
                                            </div>
                                            <div class="cart_button">
                                                <a asp-controller="login" asp-action="logout">Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--mini cart end-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header middel end-->
        <!--header bottom satrt-->
        <div class="header_bottom sticky-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="categories_menu_inner">
                            <div class="categories_menu">
                                <div class="category_toggle">
                                    <a href="#">หมวดหมู่<i class="fa fa-angle-down"></i></a>
                                </div>
                                <nav class="categories_menu_toggle">
                                    <ul>
                                        <li class="menu_item_children">
                                            <a href="shop.html">
                                                <img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/icon/menu1.png" alt="">
                                                <span>ดูแลรักษารถยนต์ <i class="fa fa-angle-down"></i></span>
                                            </a>
                                            <ul class="sub_menu">
                                                <li><a href="shop.html">ชุดน้ำยาดูแลรักษารถยนต์</a></li>
                                            </ul>
                                        </li>

                                        <li class="menu_item_children">
                                            <a href="shop.html">
                                                <img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/icon/menu2.png" alt="">
                                                <span>โคมไฟ-หลอดไฟ-Xenon <i class="fa fa-angle-down"></i></span>
                                            </a>
                                            <ul class="sub_menu">
                                                <li><a href="shop.html">ไฟหรี่</a></li>
                                                <li><a href="shop.html">ไฟเพดาน</a></li>
                                                <li><a href="shop.html">ไฟโปรเจคเตอร์</a></li>
                                                <li><a href="shop.html">ไฟไซเรนหน้าLED</a></li>
                                                <li><a href="shop.html">ไฟถอย</a></li>
                                                <li><a href="shop.html">ชุดไฟซีนอล</a></li>
                                                <li><a href="shop.html">หลอดไฟซีนอล</a></li>
                                            </ul>
                                        </li>

                                        <li class="menu_item_children">
                                            <a href="shop.html">
                                                <img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/icon/menu3.png" alt="">
                                                <span>อิเล็กทรอนิคส์-ของตกแต่งอื่นๆ <i class="fa fa-angle-down"></i></span>
                                            </a>
                                            <ul class="sub_menu pages">
                                                <li><a href="shop.html">ชุดเซ็นทรัลล็อค</a></li>
                                                <li><a href="shop.html">เซ็นเซอร์</a></li>
                                                <li><a href="shop.html">กล้องบันทึก</a></li>
                                            </ul>
                                        </li>

                                        <li class="menu_item_children">
                                            <a href="shop.html">
                                                <img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/icon/menu4.png" alt="">
                                                <span>ตกแต่งทั่วไป <i class="fa fa-angle-down"></i></span>
                                            </a>
                                            <ul class="sub_menu pages">
                                                <li><a href="shop.html">ขายึดป้ายทะเบียน</a></li>
                                                <li><a href="shop.html">ที่ยึดแบตเตอร์รี่</a></li>
                                                <li><a href="shop.html">น็อต</a></li>
                                                <li><a href="shop.html">วัด Boots หน้าน้ำมัน</a></li>
                                                <li><a href="shop.html">ฝาครอบดุมล้อ</a></li>
                                                <li><a href="shop.html">ขายึดป้ายทะเบียน</a></li>
                                                <li><a href="shop.html">หัวเกียร์ </a></li>
                                                <li><a href="shop.html">ท่อดักลมยืดได้</a></li>
                                                <li><a href="shop.html">ปากแตร</a></li>
                                                <li><a href="shop.html">กระจังหน้า</a></li>
                                            </ul>
                                        </li>

                                        <li class="menu_item_children">
                                            <a href="shop.html">
                                                <img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/icon/menu5.png" alt="">
                                                <span>เพิ่มประสิทธิภาพ <i class="fa fa-angle-down"></i></span>
                                            </a>
                                            <ul class="sub_menu pages">
                                                <li><a href="shop.html">ท่อตรง</a></li>
                                                <li><a href="shop.html">ท่องอ</a></li>
                                                <li><a href="shop.html">สายถัก</a></li>
                                                <li><a href="shop.html">สายแวคคั่ม</a></li>
                                            </ul>
                                        </li>

                                        <li class="menu_item_children">
                                            <a href="shop.html">
                                                <img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/icon/menu6.png" alt="">
                                                <span>ตกแต่งภายใน-ภายนอก <i class="fa fa-angle-down"></i></span>
                                            </a>
                                            <ul class="sub_menu pages">
                                                <li><a href="shop.html">รีฟิลยางใบปัด</a></li>
                                                <li><a href="shop.html">มือหมุนพวงมาลัย</a></li>
                                                <li><a href="shop.html">ที่วางโทรศัพท์</a></li>
                                                <li><a href="shop.html">พรมชุด</a></li>
                                                <li><a href="shop.html">ซิลิโคนหุ้มกุญแจ</a></li>
                                                <li><a href="shop.html">ฟิล์มติดไฟหน้า</a></li>
                                                <li><a href="shop.html">ครอบดิสก์เบรค</a></li>
                                                <li><a href="shop.html">สติ๊กเกอร์</a></li>
                                                <li><a href="shop.html">ฟิล์มปรอท</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--header bottom end-->
    </header>
    <!--header area end-->
    <!--header menu area start-->
    <div class="header_main_menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="main_menu menu_one">
                        <nav>
                            <ul>
                                <li><a asp-action="" asp-controller="Home">หน้าแรก</a></li>
                                <li><a asp-controller="Shoplist" asp-action="index">สินค้าทั้งหมด</a></li>
                                <li><a asp-controller="Promotion" asp-action="index">โปรโมชั่น</a></li>
                                <li><a asp-controller="AboutUs" asp-action="index">เกี่ยวกับเรา</a></li>
                                <li><a asp-controller="ContactUs" asp-action="index"> ติดต่อเรา</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header menu area end-->
    <!--Offcanvas menu area start-->
    <div class="Offcanvas_menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="canvas_open">
                        <span>เมนู</span>
                        <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                    </div>
                    <div class="Offcanvas_menu_wrapper">
                        <div class="canvas_close">
                            <a href="javascript:void(0)"><i class="ion-arrow-left-c"></i></a>
                        </div>
                        <div class="welcome_text">
                            @*<p> Welcom to HUAHUI INTER COMPANY Glad to see you in our store</p>*@
                        </div>
                        <div class="canvas_search_container">
                            <form action="#">
                                <div class="hover_category">
                                    <select class="select_option" name="select" id="categori1">
                                        <option selected value="1">ทุกหมวดหมู่</option>
                                        <option value="2">ดูแลรักษารถยนต์</option>
                                        <option value="3">โคมไฟ-หลอดไฟ-Xenon</option>
                                        <option value="4">อิเล็กทรอนิคส์-ของตกแต่งอื่นๆ</option>
                                        <option value="5">ตกแต่งทั่วไป</option>
                                        <option value="6">เพิ่มประสิทธิภาพ</option>
                                        <option value="7">ตกแต่งภายใน-ภายนอก</option>
                                    </select>
                                </div>
                                <div class="search_box">
                                    <input placeholder="ค้นหา" type="text">
                                    <button type="submit">ค้นหา</button>
                                </div>
                            </form>
                        </div>

                        <div id="menu" class="text-left">
                            <ul>
                                <li><a asp-action="" asp-controller="Home">หน้าแรก</a></li>
                                <li><a asp-controller="Shoplist" asp-action="index">สินค้าทั้งหมด</a></li>
                                <li><a asp-controller="Promotion" asp-action="index">โปรโมชั่น</a></li>
                                <li><a asp-controller="AboutUs" asp-action="index">เกี่ยวกับเรา</a></li>
                                <li><a asp-controller="ContactUs" asp-action="index"> ติดต่อเรา</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--Offcanvas menu area end-->

    @RenderBody()

    <!--footer area start-->
    <footer class="footer_widgets">
        <div class="container">
            <div class="footer_top">
                <div class="row">
                    <div class="col-lg-5 col-md-12">
                        <div class="widgets_container contact_us">
                            <div class="footer_logo">
                                <a asp-action="" asp-controller="Home"><img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/logo/logo.png" alt=""></a>
                            </div>
                            <div class="footer_contact">
                                <p><h4>บริษัท หัวฮุย อินเตอร์ จำกัด</h4></p>
                                <p><i class="fa fa-map-marker"></i>  36/681 ถ.กาญจนาภิเษก ต.บางรักพัฒนา อ.บางบัวทอง จ.นนทบุรี 11110</p>
                                <p><i class="fa fa-phone"></i><a href="tel:0806136536">  080-613-6536</a></p>
                                <p><i class="fa fa-facebook"></i><a href="https://www.facebook.com/HUA-HUI-INTER-COLTD-536433739714780/" target="_blank">  HUA HUI INTER CO.LTD</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="widgets_container widget_menu">
                            <h3>แผนที่</h3>
                        </div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3870.7853828607294!2d100.3876993143144!3d14.030732194549884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e289b3c4963ae9%3A0xe7e62cae35ca2aae!2z4Lia4Lij4Li04Lip4Lix4LiX4Lir4Lix4Lin4Liu4Li44Lii4Lit4Li04LiZ4LmA4LiV4Lit4Lij4LmM4LiI4Liz4LiB4Lix4LiU!5e0!3m2!1sen!2sth!4v1563710377905!5m2!1sen!2sth" width="450" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>

                    <div class="col-lg-1 col-md-12">
                        <div class="widgets_container widget_menu">
                            <h3>เมนู</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a asp-action="" asp-controller="Home">หน้าแรก</a></li>
                                    <li><a asp-controller="Shoplist" asp-action="index">สินค้าทั้งหมด</a></li>
                                    <li><a asp-controller="Promotion" asp-action="index">โปรโมชั่น</a></li>
                                    <li><a asp-controller="AboutUs" asp-action="index">เกี่ยวกับเรา</a></li>
                                    <li><a asp-controller="ContactUs" asp-action="index"> ติดต่อเรา</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="newletter_area">
                        <div class="row">
                            <div class="col-lg-5 col-md-5">
                                <div class="newletter_title">
                                    <img src="assets/img/about/icon-newletter.png" alt="">
                                    <div class="newletter_content">
                                        <h2>Join Our Newsletter Now</h2>
                                        <p>Be the First to Know. Sign up to newsletter today</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7">
                                <div class="newletter_subscribe">
                                    <form action="#">
                                        <input placeholder="Enter you email address here..." type="text">
                                        <button type="submit">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>*@

            <div class="footer_bottom">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright_area">
                            <p>Copyright &copy; 2019 <a href="https://www.hypersoft-solution.com">HYPERSOFT SOLUTION COMPANY</a>  All Right Reserved.</p>
                        </div>
                    </div>
                    @*<div class="col-lg-6 col-md-12">
                            <div class="footer_paypal">
                                <ul>
                                    <li><a href="#"><img src="assets/img/icon/paypal.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/img/icon/paypal1.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/img/icon/paypal2.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/img/icon/paypal3.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/img/icon/paypal4.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/img/icon/paypal5.jpg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </footer>
    <!--footer area end-->
    <!-- modal area start-->
    <div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12">
                                <div class="modal_tab">
                                    <div class="tab-content product-details-large">
                                        <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="assets/img/product/product1.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                <div class="modal_right">
                                    <div class="modal_title mb-10">
                                        <h2>Handbag feugiat</h2>
                                    </div>
                                    <div class="modal_price mb-10">
                                        <span class="new_price">$64.99</span>
                                        <span class="old_price">$78.99</span>
                                    </div>
                                    <div class="modal_description mb-15">
                                      
                                    </div>
                                    <div class="variants_selects">
                                        
                                        
                                        <div class="modal_add_to_cart">
                                            <form action="#">
                                                <input min="0" max="100" step="2" value="1" type="number">
                                                <button type="submit">add to cart</button>
                                            </form>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal area end-->
    <!--news letter popup start-->
    @*<div class="newletter-popup">
            <div id="boxes" class="newletter-container">
                <div id="dialog" class="window">
                    <div id="popup2">
                        <span class="b-close"><span>close</span></span>
                    </div>
                    <div class="box">
                        <div class="newletter-title">
                            <h2>Newsletter</h2>
                        </div>
                        <div class="box-content newleter-content">
                            <label class="newletter-label">Enter your email address to subscribe our notification of our new post &amp; features by email.</label>
                            <div id="frm_subscribe">
                                <form name="subscribe" id="subscribe_popup">
                                    <!-- <span class="required">*</span><span>Enter you email address here...</span>-->
                                    <input type="text" value="" name="subscribe_pemail" id="subscribe_pemail" placeholder="Enter you email address here...">
                                    <input type="hidden" value="" name="subscribe_pname" id="subscribe_pname">
                                    <div id="notification"></div>
                                    <a class="theme-btn-outlined" onclick="email_subscribepopup()"><span>Subscribe</span></a>
                                </form>
                                <div class="subscribe-bottom">
                                    <input type="checkbox" id="newsletter_popup_dont_show_again">
                                    <label for="newsletter_popup_dont_show_again">Don't show this popup again</label>
                                </div>
                            </div>
                            <!-- /#frm_subscribe -->
                        </div>
                        <!-- /.box-content -->
                    </div>
                </div>

            </div>
            <!-- /.box -->
        </div>*@
    <!--news letter popup start-->

    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>

        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>

        <!-- Plugins JS -->
        <script src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/js/plugins.js"></script>

        <!-- Main JS -->
        <script src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/js/main.js"></script>
    </environment>

    <environment include="Staging, Production">
        <script src="~/lib/jquery/jquery.min.js"></script>

        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>

        <!-- Plugins JS -->
        <script src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/js/plugins.js"></script>

        <!-- Main JS -->
        <script src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/js/main.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
