@model HuahuiSite.Web.Areas.Backend.Models.CartViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="row" id="parent-table">
    <partial name="_Table" model="Model" />
</div>

@section Scripts {

    <script src="~/js/backend/cart.js"></script>

}

